.cities-gallery {
  width: fit-content;
  max-height: 300px;
  z-index: 0;
  grid-column: 2;
}

.cities-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.slide-button {
  border: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  height: 100%;
  opacity: 0.4;
  transition: opacity 0.3s;
  background-color: rgba(0, 0, 0, 0.7);
}

.next {
  left: 26.25rem;
}

.slide-button:hover {
  opacity: 1;
}

@media (max-width : 850px) {
  .cities-gallery {
    grid-column: 1;
    width: 95vw;
    display: flex;
    justify-content: center;
  }

  .previous {
    left: -3.85rem;
  }

  .next {
    left: 28.1rem;
  }

  .slide-button {
    opacity: 0.6;
    padding: 0 1rem;
  }

  .cities-list {
    grid-column: 1;
  }

  .slide-button:hover {
    background-color: #000;
  }
}

@media (max-width : 650px) {
  .cities-gallery {
    margin: 10px 0;
  }

  .previous {
    left: 0rem;
  }

  .next {
    left: 24.25rem;
  }

  .slide-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
  }
}
