.definition-list {
  grid-column: 2 / 4;
}

.definition-title {
  color: #111;
  cursor: pointer;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 700;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
}

.definition-title::before {
  background: #00565c;
  border-radius: 20px;
  content: '';
  display: inline-block;
  height: 10px;
  margin-right: 10px;
  width: 20px;
}

.definition-title::after {
  content: ' ↴';
  padding-left: 10px;
}

.definition-description {
  display: none;
  font-family: Helvetica, Arial;
  font-size: 18.5px;
  margin-bottom: 0.5rem;
}

.definition-description.open {
  animation: showFaq 0.6s;
  display: block;
}

.definition-title.open::after {
  content: '↥';
}

.topic {
  display: flex;
  align-items: center;
  margin: 0.75rem;
  position: relative;
}

.topic::before {
  display: block;
  border-radius: 1rem;
  padding: 0.1rem;
  height: 0.015rem;
  width: 0.2rem;
  content: '';
  margin-right: 0.5rem;
  background-color: #111;
  transition: width ease 0.3s;
}

.topic:hover::before {
  width: 0.9rem;
}

@keyframes showFaq {
  from {
    max-height: 0;
  }
  to {
    max-height: 50vh;
  }
}

@media (max-width :  850px) {
  .definition-list {
    grid-column: 1 / 3;
  }
}
