.login-button {
  border: none;
  padding: 10px;
  border-radius: 4px;
  background-color: #000;
  color: #FFF;
  font-size: 0.85rem;
  font-weight: 700;
  text-transform: capitalize;
  cursor: pointer;
  margin-left: 40px;
}

