header {
  align-items: center;
  background: #00565c;
  display: flex;
  grid-column: 3 / 5;
  margin-bottom: 2rem;
  margin-top: 2rem;
  transition: all ease 0.5;
  z-index: 100;
}


@media (max-width : 850px) {
  header {
    grid-column: 1;
    position: sticky;
    top: 0;
    margin-top: 0;
    min-width: 490px;
  }
  .login {
    margin: auto;
  }
}