.grid-numbers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 2 / 4;
  gap: 3rem;
}

.city-name-subtitle {
  color: #111;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 700;
  width: max-content;
}

.city-name-subtitle:before {
  background: #00565c;
  border-radius: 20px;
  content: '';
  display: inline-block;
  height: 12px;
  margin-right: 10px;
  width: 40px;
}

@media screen and ( max-width : 850px ) {
  .grid-numbers {
    grid-template-columns: 1fr;
    grid-column: 1;
  }
}