* {
  margin: 0;
  padding: 0;
}

.app {
  display:  grid;
  grid-template-columns: 1fr 120px minmax(300px, 950px) 0.35fr;
}

.grid-section {
  box-sizing: border-box;
  display: grid;
  grid-column: 2 / 4;
  grid-gap: 20px;
  grid-template-columns: 90px 300px 1fr;
  margin-bottom: 4rem;
  padding: 10px;
  width: 100%;
}

